* {
    box-sizing: border-box;
    
}

:root {
    --funny-green: rgb(89, 215, 146);
  }

h1 {
    background-color:var(--funny-green);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    padding: .4em;
    margin: 0;
}

#skills-list {
    margin: auto;
    width: 50rem;
    border: 2px solid gray;
    padding: 10rem 14rem;
}

#skills-display {
    padding-left: 0em;
    list-style-type: none;
    margin: 0;
}

li {
    padding: .0em;
    /* background-color: lightgrey; */
    font-family: Arial;
    color: goldenrod;
    opacity: .75;
    padding: .8em 0 .8em 0
}

body {
    justify-content: center;
    display:flex;
    /* align-items:center; */
    /* flex-flow: column nowrap; */
    height: 100vh;
    width: 100vw;
}



#master {
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    width:40%;
}

form {
    display:flex;
    flex-flow: row nowrap;
}

.bullet {
    display: inline;
    margin-right:1em;
    padding:.4em;
    background-color: red;
    opacity: .55;
    margin: 1;
    color: white;
    font-weight: bold;
}

.accept {
    padding: 0.25rem;
    background-color: white;
    margin-left: .5em;
    border: solid .25em var(--funny-green); 
    color: var(--funny-green);
}

.user {
    width: 100%;
    border: solid .25em var(--funny-green);
    height: 2rem;
    margin:0;
}

.local {
    padding: 2rem;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}
